<h1 class="text-center">Create Article</h1>
<div class="text-center">
<%= form_for @articles do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
    <%= f.submit %>
<% end %>
</div>
